.nav_logo{
width: 200px;
margin-top: 10px;
margin-right: 20px;
}

.nav__navigation{
    padding: 40px;
    background-color: #3B4E42;
    background-image: url(pics/Banner.svg);
    border-radius: 0px 0px 100px 0px;
    background-position: 50% 70%;
    width: calc(100% - 80px);
    height: 497px;
    background-repeat: no-repeat;
    justify-content: flex-start;
    font-family:"Iowan old style" ;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.nav_logoandsearch{
    display: flex;
    align-items: center;
}

.nav_btn{
    margin-top: 20px;
}

.btn{
    color: #FFE8C6;
    padding-right: 20px;
    text-decoration : none;
}

.nav_searchbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav_searchbar_bar {
    padding: 10px;
    font-size: 17px;
    border: transparent;
    float: left;
    width: 924px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 30px;
    
  }

.nav_searchbar_button {
    width: 60px;
    height: 35px;
    background: #3B4E42;
    color: white;
    font-size: 17px;
    border: 1px solid #3B4E42;
    position: absolute;
    margin-right: 14px;
    border-radius: 20px;
    background-image: url(pics/magnify.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

.btn_logo{
    margin-left: 20px;

}

.aboutus{
width: 100%;
background-color: #FBF3E8;
background-image: url(pics/Exclude.svg);
background-repeat: no-repeat;
display: flex;
}

.aboutus_content{
    width: 878px;
    display: block;
    text-align: center;
    margin: auto;
    color: #504B48;
    font-weight: lighter;
    margin-top: 45px;
    margin-bottom: 50px;
    
}

.home{
    background-color: #FBF3E8;
    font-family:"Iowan old style";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #504B48;

}

h1{
    font-size: 22px; 
    font-family: "Iowan Old Style";
}

.home_pic{
    height: auto;
    width: inherit;
}

.category{
    background-color: #3B4E42;
    height: 391px;;
    margin-top: -200px;
    position: absolute;
    width: 100%;
    border-radius: 100px 0px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cats{
    font-family: "Iowan Old style";
    color: #FFE8C6;
    text-decoration : none;
    line-height: 40px;
    font-weight: 300;
    font-size: 30px;
    padding-right: 20px;
}

.divider{
    font-family: "Iowan Old style";
    color: #FFE8C6;
    padding-right: 20px;
}

.home_recommend{
    margin-top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_grid{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.product_card{
    flex: 1 20%;
    background-color: transparent;
    border-color: transparent;
    margin-right: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #000000;
    text-align: center;

}

h2, .price{
    font-size: 16px; 
    font-family: "Iowan Old Style";
    font-weight: 400;
}

.product_img{
    width: 180px;
    height: 180px;
}

.search_nav__navigation{
    background-color: #3B4E42;
    width: calc(100% - 80px);
    height: 400px;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.product_nav__navigation{
    background-color:#ffffff;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search_productlist{
    background-color: #ffffff;
    position: absolute;
    margin-top: -80px;
    border-radius: 100px 100px 0px 0px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_cats{
    font-size: 22px; 
    font-family: "Iowan Old Style";
    color: #ffffff;
}

.search_introtxt{
    font-size: 16px; 
    font-family: "Iowan Old Style";
    color: #ffffff;
    text-align: center;
    width: 80%;
}

.search_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}

.breadcrumb{
    display: flex;
    margin-top: 10px;
}


.breadcrumb_btn{
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    font-family: "Iowan Old Style";
    text-decoration: none;
}

.search_cats_intro{
    width: 878px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 30px;
}

.search_subcats{
    margin-top: 40px;
    margin-bottom: 40px;
}

.search_subcatsbtn{
    background-color: #FFE8C6;
    border-color: transparent;
    border-radius: 40px;
    padding: 5px 10px 5px 10px;
    font-family: "Iowan Old Style";
    margin-right: 10px;
    cursor: pointer;
}

.product_navbtn{
    color: #3B4E42;
    padding-right: 20px;
    text-decoration : none;
}

.slideshow-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
 }

 .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 20px 2px 0px 0px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .product_picgal{
    margin: 50px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .slide{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    
 }

.product_img1{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

 .product_info{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    width: 80%;
 }

 .colornav_items{
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
 }


[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
[type=radio] + img {
    cursor: pointer;

  }
  
[type=radio]:checked + img {
    outline: 1.5px solid #3B4E42;
    border-radius: 30px;
  }

.product_name{
    color: #3B4E42;
    margin-bottom: 0px;
  }

.product_price{
    font-size: 20px;
    margin-bottom: 0px;
}

.shipping{
    display: flex;
}

.box_icon{
    margin-right: 10px;
}

.product_color{
    display: flex;
    flex-direction: column;
}


.subtitle{
    font-family: "Iowan Old style";
    font-weight: lighter;
    color: #504B48;
    margin-top: 20px;
}

.product_subtitle{
    color: #a3a3a3;
    font-family: "Iowan Old style";
    margin-top: 10px;
}

.quantity_input{
    width: 70px;
    border-width: 0px;
    text-align: center;
}

.counter{
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 30px;
    width: fit-content;
    height: 15px;
    padding: 10px 15px 10px 15px;
    font-family: "Iowan Old style";
    cursor: pointer;
    align-items: center;
    display: flex;
}

.paymentmethods{
    margin-top: 20px;
}

.addtocart{
    background-image: url(pics/addtocart.svg);
    width: 80px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 30px;
    border-color: transparent;
    background-color: #FFE8C6;
    margin-right: 15px;
}

.checkout{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    font-family: "Iowan Old style";
    font-size: 16px;
    color: #ffffff;
    background-color: #3B4E42;
}

.checkout_btn{
    display: flex;
    margin-top: 20px;
}

.product_breadcrumb_btn{
    background-color: transparent;
    border-color: transparent;
    color: #3B4E42;
    font-family: "Iowan Old Style";
    text-decoration: none;
}

.product_main{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
}

hr{
    border: none;
    border-top: 1.5px dashed #E7E7E7;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin: 20px 0px 20px 0px;
  }

details > summary {
    list-style-type: disclosure-closed;
}

details[open] > summary {
    list-style-type: disclosure-open;
    
}

.product_description{
    font-family: "Iowan Old style";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #504B48;
    align-items: flex-start;
}

details{
    margin: 10px 20px 0px 0px;
    color: #6B6866;
}

summary{
    margin: 0px 0px 10px 0px;
    color: #504B48;
}

.nav_acntandcart{
    display: flex;
    align-items: center;

}

#addtocart_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#printhere{
    font-family: "Iowan Old Style";
    margin-block-start: 0px;
    position: absolute;
    margin-left: 45px;
    font-weight: 700;
}

main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.cart_product{
    display: flex;
}

.cart_counter{
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 30px;
    width: fit-content;
    height: 15px;
    padding: 10px 15px 10px 15px;
    font-family: "Iowan Old style";
    cursor: pointer;
    align-items: center;
    display: flex;
}

#cart_productname, #cart_product_var{
    margin: 0px 0px 10px 0px;
}

#cart_enterdiscount{
    width: 88%;
    height: 35px;
    border-radius: 30px;
    border-color: #CBCBCB;
    border-width: 1px;
    border-style: solid;
    padding-left: 20px;
}

.cart_discountbtn{
    width: 8%;
    height: 35px;
    border-radius: 30px;
    border-style: none;
    background-color: #3B4E42;
    font-family: "Iowan Old Style";
    color: white;
    padding: 6px 1px 8px 1px;
}

#discount{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.cart_shippingntax{
    display: flex;
    align-items: center;
    font-family: "Iowan Old Style";
    justify-content: space-between;
    margin-top: 20px;
    width: 900px;
}

#standardshipping{
    width: 10px;
    height: 10px;
    opacity: unset;
    position: relative;
    margin-left: 20px;
    border: 2px solid #3B4E42;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 6px solid #3B4E42;
    margin-right: 8px;
}

.shippingrate{
    margin: 20px 0px 20px 0px;
    display: flex;
}

#details_content{
    margin-left: 20px;
    margin-top: 20px;
    background-color: #FBF3E8;
    padding: 20px;
    width: 800px;
    border-radius: 25px;
}

#shippingname{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #504B48;
}

.cart_checkoutbtn{
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    background-color: #3B4E42;
    font-family: "Iowan Old Style";
    color: white;
    font-size: 17px;
}

#cart_deletebtn{
    background-color: transparent;
    border-width: 0;
    margin-bottom: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 17px;
    align-items: center;
}
.box a {
    display: inline-block;
    background-color: #fff;
    background-color: transparent;
    border-width: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    text-decoration: none;
    color: #3B4E42;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(123, 122, 122, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    height: 930px;
}
.content {
    position: absolute;
    background: white;
    width: 200px;
    padding: 1em 2em;
    border-radius: 4px;
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    top: 0;
    right: 15px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 20px;
}

.Checkout_input{
    width: 450px;
    border: none;
    border-bottom: 1px solid #CBCBCB;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Iowan Old Style";
}

.checkout_title{
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 22px; 
    font-family: "Iowan Old Style";
    font-weight: bold;
}

#radiobtn{
    width: 10px;
    height: 10px;
    opacity:unset;
    position: relative;
    margin-left: 20px;
    border: 2px solid #3B4E42;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: white;
}

#radiobtn:checked{
    border: 6px solid #3B4E42;
}


#delivery_mthd{
    font-family: "Iowan Old Style";
    font-size: 18px;
    font-weight: 700;
}

#delivery_mthd_card{
    margin-left: 10px;
}

#checkout_sum{
    padding: 5px 20px 5px 20px;
    background-color: #FFE8C6;
    border-radius: 10px;
}

.checkout_sub{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;

}

.checkout_total{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

#checkout_return{
    margin-bottom: 20px;
    text-decoration: none;
    color: #3B4E42;
    font-family: "Iowan Old Style";
}

body{
    margin: 0;
}

.confirm_nav__navigation{
    width: calc(100% - 80px);
    height: 400px;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-image: url(pics/confirmation_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 75%;
    align-items: flex-start;
    justify-content: center;
}

.confirm_main{
    padding: 70px;
    background-color: #ffffff;
    border-radius: 100px 100px 0px 0px;
    margin-top: -90px;
}

#confirm_text{
    text-align: center;
    font-family: "Iowan Old Style";
    color: #504B48;
}

#confirm_orderno{
    text-align: center;
    font-family: "Iowan Old Style";
    color: #404040;
    font-weight: bold;
}

#myInput{
    border: none;
    text-align: center;
    font-family: "Iowan Old Style";
    color: #404040;
    font-weight: bold;
    font-size: 16px;
    width: 120px
}

#content_copy{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.confirm_returnbtn{
    margin-top: 110px;
    width: 900px;
    height: 48px;
    border-radius: 30px;
    border-style: none;
    background-color: #3B4E42;
    font-family: "Iowan Old Style";
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.product_subdescription{
    width: 600px;
}

.guarantees_pic{
    margin-left:10px;
}

#cart_main{
    width: 900px;
}

.cart_greytabnle{
    width:15%;
}

.cart_checkoutbtn1{
    width: 900px;
}

#checkout_main{
    width: 900px;
}

#checkout_form{
    display: flex; 
    font-family: Iowan Old Style;
}

#checkout_bottom{
    margin-top: 50px; 
    width:900px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#ptc_btn{
    width: 900px;
}

#confirm_contentdiv{
    width: 900px;
}

#checkout_formright{
    width:330px;
}

.mid_searchbar_button, .checkout_searchbar_button{
    width: 60px;
    height: 35px;
    background: #3B4E42;
    color: white;
    font-size: 17px;
    border: 1px solid #3B4E42;
    position: absolute;
    margin-right: 14px;
    border-radius: 20px;
    background-image: url(pics/magnify.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.mid_logo, .confirm_logo{
    width: 200px;
    margin-top: 10px;
    margin-right: 20px;
}

#checkout_form_left{
    width: 600px;
}